html, body {
  background: linear-gradient(to bottom right, #B3D8FC, white); 
  font-family: roboto;
  font-weight: 500;
}

.MemoryPage-link-margin {
    margin-bottom: 10px;
  }
  
  .MemoryPage {
    display: flex;
    flex-direction: column;
  }
  
  .MemoryPage-controls {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-left: 20px;
  }

  .header-footer{
    color:black;
    height: 30px;
  }
  